// "out": "conf_scheduler_admin_dark.css"
/*
Conference Scheduler
Version: 1.3.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@white:           #ffffff;
@black:           #000000;
@blue:            #0073aa;
@medium-blue:     #00a0d2;
@clear:           transparent;

@accent-red:      #dc3232;
@accent-orange:   #f56e28;
@accent-yellow:   #ffb900;
@accent-green:    #46b450;
@accent-blue:     @blue;
@accent-purple:   #826eb4;

@base-grey:       #23282d;
@light-grey:      #bbc8d4;
@heavy-grey:      #37444c;
@dark-grey:       #32373c;
@ultra-grey:      #191f25;
@dark-silver:     #50626f;
@base-blue:       #2e74aa;
@light-blue:      #4092d2;
@dark-blue:       #2c5f88;
@ultra-blue:      #1f3f58;
@bright-blue:     #30ceff;

@editor-lavender: #c678dd;
@editor-sunglo:   #e06c75;
@editor-olivine:  #98c379;

.conf-sidebar {
  background-color: @dark-grey;
  border-color: @ultra-grey;
  .footer p { color: @white !important; }
}

#workshop_meta_box {
  .workshop_file {
    border-top: 1px solid @ultra-grey;
    .remove_file {
      &::before { color: @light-grey; }
      &:hover::before { color: @accent-red; }
    }
  }
}

// Select2
.select2-container {
  #wpbody & .select2-selection:focus {
    border-color: @ultra-grey;
    box-shadow: 0 0 2px @blue;
  }
  #wpbody & .select2-selection--single {
    background-color: @dark-silver;
    border-color: @ultra-grey;
    .select2-selection__rendered { color: @white; }
    .select2-selection__arrow b { border-top-color: @white; }
  }
  &.select2-container--open .select2-selection--single .select2-selection__arrow b { border-bottom-color: @white; }
  .select2-dropdown {
    background-color: @dark-grey;
    border-color: @ultra-grey;
    .select2-search__field { border-color: @ultra-grey; }
  }
  .select2-results__option[aria-selected=true] { background-color: @dark-silver; }
}
