// "out": "conf_scheduler.css"
/*
Conference Scheduler
Version: 1.7.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* ----  Colours  ----- */
@white: #ffffff;
@yellow: #FFCC09;
@80grey: #58585b;
@60grey: #808284;
@40grey: #a7a9ab;
@20grey: #d1d2d4;
@background: #f5f5f5;

.conf_scheduler_star_outline { fill: currentColor; }


.conf_scheduler {
	* { box-sizing: border-box; }

	.filter {
		display: flex;
		padding-bottom: 5px;
		margin-bottom: 1em;
		.multi_filter { max-width: 100%; width: 300px; opacity: 0; max-height: 1em; }
		select.multi_filter, span.select2 {
			flex-grow: 1;
			display: inline-block;
			margin-right: 10px;
			.select2-selection__choice i.fas { margin-left: 4px; }
		}
		.select2-selection:focus { border-color: #5b9dd9; box-shadow: 0 0 2px rgba(30, 140, 190, .8); outline: none; }

		.my_picks:before { content: "\f0c8"; font-family: "Font Awesome 5 Free"; font-weight: 400; font-size: 0.8em; margin-right: 5px; }

		button { outline: none; float: right; padding: 5px 8px; margin-left: 1em; }

		&:after { content: ''; clear: both; display: block; }
	}
	&.picks .filter .my_picks:before { content: "\f14a"; }

	.conference_day {
		&.open > h3:before { content: "\f0d7"; }
	}

	.open > .session { display: block; }

	&.searching {
		.session h3 { display: none; }
		.session.open p.no_workshops { display: none; }
	}

	&.picks {
		.session.open p.no_workshops { display: none; }
	}

	.session, .conference_day {
		h3 { cursor: pointer; }
		h3:before { content: "\f0da"; font-family: "Font Awesome 5 Free"; font-weight: 700; font-size: 0.8em; margin-right: 5px; }
		&.open > h3:before { content: "\f0d7"; }
		.session { margin-left: 1em; }
	}

	.session {
		clear: left;
		display: none;
		&:after { display: table; content: ''; clear: both; }

		.workshops, p.no_workshops, & > div.description { display: none; }
		&.open > .workshops, &.open > p.no_workshops, &.open > div.description { display: block; }

		&.open .workshop { display: block; }

		.workshop.placeholder {
			height: 5em;
		}

	} // close .session
}

.conf_scheduler .session, body.single-conf_workshop {
	.workshop {
		position: relative;
		cursor: pointer;

		h4 { margin-top: 0; margin-left: 3px;}

		.details {
			border-top: 1px solid @20grey;
			padding: 1em 0;
			display: none;
		}
		.quick_info {
			text-align: right; margin-bottom: 0.3em;
			span { margin-left: 0.5em; display: inline-block; }
		}
		span:before, .edit_link:before, .themes:before, .keywords:before, .file:before, .limit:before {font-family: "Font Awesome 5 Free"; font-size: 0.8em; margin-right: 5px;}
		.presenter:before { content: "\f007"; font-weight: 700; }
		.location:before { content: "\f3c5"; font-weight: 700; }
		.bio { margin-top: 1em; font-style: italic;}
		.edit_link { position: absolute; top: -1px; right: -1px; opacity: 0.3; font-weight: normal; &:before{content: "\f303"; font-weight: 900; font-size: 0.8em; } &:hover {opacity: 1;}}
		.data { padding-top: 0.3em; border-top: 1px dashed @20grey; &::after {clear: both; display: table; content: "";}}
		.session { text-align: right; &:before { content: "\f017";} display: block; float: right; }
		.themes, .keywords { clear: both; padding-left: 1.2em; }
		.themes:before { content: "\f07c"; font-weight: 700; margin-left: -1.5em;}
		.keywords:before { content: "\f02c"; font-weight: 700; margin-left: -1.5em; }
		.limit { display: block; float: left; &:before { content: "\f0c0"; font-weight: 700; }}

		img { margin: 1em auto 0 auto; display: block; }

		.files {
			margin-top: 1em;
			span { font-weight: bold; display: block; color: @80grey; }
			.file:before { content: "\f15b"; font-weight: 700; color: @40grey;}
		}

		.favorite {
			cursor: pointer;
			display: inline-block;
			position: absolute;
			z-index: 5;
			top: 5px; left: 5px;
			svg { width: 1em; height: 1em; fill: transparent; }
			&:hover svg { fill: #FFCC09; }
		}
		&.picked .favorite svg { fill: #FFCC09; }
	}
}
.conf_scheduler .session .workshop {
	transform: translateZ(0);
	&:hover, &.open, &.picked { background: @white; }
}
body.single-conf_workshop .workshop {
	.title, a.edit_link { display: none; }
	.details { display: block; }
}

.conf_scheduler {
	// Structure
	.conf_block {
		border: 1px solid #333;
		width: ~'calc((100% - 3em)/3)';
		margin: 0 1em 1em 0;

		&.workshop { // for single workshops
			padding: 1.5em;
		}

		.workshop { // for grouped workshops
			width: 100%;
			padding: 1.5em;
			margin: 0;
			border-bottom: 1px solid @80grey;
		}

		.workshop:last-child {
			border-bottom: none;
		}
	}
}

.conf_scheduler.day_tabs {
	ul.day_tabs {
		border-bottom: 1px solid black;
		li {
			display: inline-block;
			margin-right: 0.5em;
			border: 1px solid black;
			border-bottom: none;
			padding: 0.1em 0.5em;
			cursor: pointer;
		}
	}
	.conference_day > h3 { display: none; }
}

@media only screen and (min-width: 509px) {

	.conf_scheduler.timeline {
		.conference_day.open > .session {
			display: grid;
			grid-template-columns: [first] 6.6em [split] auto;
  		grid-template-rows: [top] auto [startWorkshops] auto;
			grid-template-areas: "time description" "time workshops";
		}
		.session > h3 {
			grid-area: time;
			box-sizing: border-box;
			text-align: right;
			border-right: 1px solid @80grey;
			margin: 0; padding: 1em 1em 1em 0;
		}
		&.searching .session > h3 { display: block; }

		.workshops, .session > p.no_workshops, .session > .description {
			grid-area: description;
			margin-left: 1em;
			padding-top: 1em;
			box-sizing: content-box;
		}
		.workshops {
			grid-area: workshops;
			margin-left: 1em;
			padding-top: 1em;
			box-sizing: content-box;
		}
		.session > .description > p:first-child { margin-top: 0; }
		.session.no_workshops .workshops { padding: 0; border-bottom: 0; display: none !important; }
		.session p.no_workshops { padding: 1em 0 1em 1em; margin: 0; }
	}
}


/* Mobile Landscape & Tablet Portrait */
@media only screen and (max-width: 780px) {
	.conf_scheduler {
		.filter {
			.my_picks, .toggle_all { float: none; margin-top: 10px; font-size: 14px; }
			.my_picks { margin: 0 0 0 15px; }
		}

		.conference_day .session { margin-left: 0.5em; }

		.conf_block {
			width: ~'calc((100% - 2em)/2)';
		}
	}
}

/* 4.5 - Mobile Portrait */
@media only screen and (max-width: 509px){
	.conf_scheduler {
		.filter {
			.multi_filter { display: block; width: 95%; margin: 10px 0 0 0;}

		}

		.conference_day .session { margin-left: 0; }

		.conf_block {
			width: 100%;
		}
	}
}


@media print {
	.conf_scheduler {
		.workshops {
	    height:auto !important;
	    max-width: 100%;
	    text-align:left;
	  }
	  .conf_block {
			vertical-align: top;
	    position:relative !important;
	    left:0 !important;
	    top:auto !important;
	    float: none !important;
	    display: inline-block !important;
			margin: 0 10pt 12pt 0 !important;
			min-width: ~'calc(50% - 12pt)' !important;
			width: auto;
	  }
		&.picks {
			.workshop {
				display: none !important;
				&.picked { display: block !important; }
			}
		}
	}
}
