// "out": "conf_scheduler_admin.css"
/*
Conference Scheduler
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@keyframes spin {
    0% { transform: rotate(0deg) }
    to { transform: rotate(1turn) }
}

.widefat .column-workshop_id { width: 9em; }

.conf-content {
  margin-right: 300px;
  clear: both;
}

#posts-filter {
  float: left;
  width: 100%;
}

#conf_scheduler_options {
  .form-table { width: auto; clear: none; }
  .conf-sidebar { margin: 17px 0 0 20px;}
  .remove_data .button { margin: 0 20px 10px 0; }
  .button .dashicons { font-size: 17px; width: 17px; height: 17px; margin-top:4px; }
  .remove_data .dashicons-update { animation: spin 2s infinite linear; }
  .settings-error.cs-data-deleted { max-width: 500px; }
}

#cs-system-status { display: none; width: 400px; max-width: 100%; height: 200px; }

.conf-sidebar {
  float: right;
  margin-right: -300px;
  width: 280px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  .content {
    padding: 15px;
    h2,h3 { margin-bottom: 0; }
    h3 { font-size: 13px; font-weight: 700; }
    h3 + p { margin-top: 0.5em; }
    .subhead { color: #666; margin-top: 0; font-size: 11px; }
    .logo { float: left; margin: 1em 8px 0 0;}
  }
  .footer {
    border-top: 0 none;
    background-color: #e17745;
    color: #FFFFFF;
    overflow: hidden;
    padding: 15px;
    position: relative;
    a, a:visited, a:hover { color: #fff; }
  }
}

@media screen and (max-width: 750px) {
  #conf_scheduler_options {
    .conf-sidebar {
      float: none;
      margin-left: 0;
      width: auto;
    }
  }
}


#workshop_meta_box {
  label {font-weight: bold; }
  textarea {display: block; width: 100%; min-height: 6em;}

  #file_attachments { margin: 10px 0; }
  #file_attachments_section { margin-top: 20px; }
  .workshop_file {
    margin: 10px 0;
    line-height: 1.3em;
    position: relative;
    border-top: 1px solid #eee;
    padding-top: 10px;
    &:first-child { border-top: none; padding-top: none; }
    .title { font-weight: bold; display: block; }
    .remove_file { position: absolute; top: 10px; right: 0; cursor: pointer; &::before{font-family: Dashicons; font-size: 18px; content: "\f153"; color: #a00;} &:hover::before{color: #f00;}}
    .preview { height: 50px; width: 50px; float: left; margin-right: 5px; img { height: 50px; width: auto; margin: 0 auto; display: block;}}
    &::after { display: table; content: ""; clear: both; }
  }
  #upload_file_button { vertical-align: middle; }
  #upload_file_button::before { font-family: Dashicons; content: "\f502"; margin-right: 3px; font-size: 14px; transform: translateY(2px); display: inline-block }
}

#workshop_side_meta_box {
  label {display: block; font-weight: bold; margin-top: 10px; &:first-of-type{margin-top: 0;}}
  input[type="text"], input[type="number"], select { width: 100%; display: block;}
  p.checkbox {
    margin-top: 10px;
    label { display: inline; font-weight: normal; }
  }
  #add_session { float: right; margin-top: 10px;}

  .select2-selection:focus { border-color: #5b9dd9; box-shadow: 0 0 2px rgba(30, 140, 190, .8); outline: none; }
}

body.taxonomy-conf_sessions {
  .datetimepicker.dropdown-menu {
    margin-top: 3em;
  }
  .term-slug-wrap {  display: none; } // hide session slug
  .term-description-wrap p {  display: none; } // hide session description default text

  .form-field.collapse-wrap ul { margin: 6px 0; li { margin: 0; }}

  .datetime-field-wrap {
    position: relative;
    span { position: absolute; right: 31px; top: 4px; font-size: 1.2em; }
  }
}
